body{
  font-family:Verdana;
  background-color: grey;
  font-size: 10px;
}

.tittel{
    color:red;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    background-color: white;
    border:15px solid white;
    margin-left: 600px;
    margin-right: 600px;
    width: 10%;

}
main
  {
    display:grid;
    grid-template-columns:repeat(2,500px);
    grid-column-gap:20px;
    grid-row-gap:5px;
    grid-auto-rows:minmax(60px,auto);
    text-align: center;
    border-radius: 150px;
    margin-left: 150px;
    margin-right: 150px;



  }
article
{
  background-color:lightgreen;
  margin-bottom: 25px;
  border-radius:20px;
  font-size:20px;
  text-align:center;
  padding:20px;
  color:purple;
  box-shadow:7px 5px 3px black;
  line-height:1,5px;

}

.tekst{
  font-size:17px;
  text-align:center;
  padding:20px;
  color:black;
  box-shadow:7px 5px 3px black;
  line-height:1,5px;
}

.tekst1{
  margin-right:100px;
  margin-left:100px;
}

.tittel2{
  margin-left: 200px;
  margin-top: 50px;
}

.tekst2{
  margin-right: 100px;
  margin-left: 100px;
}

h2{
  font-size:17px;
  text-align:center;
  padding:20px;
  color:black;
  box-shadow:7px 5px 3px black;
  line-height:1,5px;
}
